*{margin:0;padding:0;}
a{text-decoration: none;}
li{list-style: none;}
body{width:100%;height:100%;
/*background:url(../img/locationbackgroud.jpg) top center no-repeat;*/
/*background-size:cover;*/
position: relative;}

.header
{
	width:100%;
	overflow: hidden;

}
.navigation-bar
{
	width:100%;
	line-height:0.6rem;
	margin-top:0.4rem;
}
.navigation-bar p
{
	font-size:0.36rem;
	color:#fff;
	text-align: center;
	position:relative;
}
.navigation-bar p a
{
	position:absolute;
	left:0.2rem;
	top:0;
	display:block;
	color:#fff;
}
.navigation-bar p a i
{
	color:#fff;
	line-height:0.6rem;
}

.location-logo
{
	width:100%;
	overflow: hidden;
	
}
.logo-img
{
	margin-top:0.6rem;
}
.logo-img img
{
	display:block;
	width:1.55rem;
	height:1rem;
	margin:0 auto;
}
.location-logo p
{
	width:100%;
	text-align:center;
	font-size: 0.45rem;
	color:#fff;
	margin-top:0.35rem;
	margin-bottom:0.3rem;
}
.landing-bar
{
	width:100%;
}
.landing-container
{
	width:72.8%;
	margin:0 auto;
}
.landing-container>div
{
	width:100%;
	height:0.9rem;
	line-height:0.9rem;
	margin-bottom:0.35rem;
}
.landing-name
{
	border:0.01rem solid #fff;
	border-radius:0.1rem;
}
.iconfont
{
	display:block;
	height:100%;
	line-height:0.9rem;
	font-size:0.4rem;
	color:#08d0d0;
	margin-left:0.2rem;
	float:left;
}
.txt
{
	width:85%;
	height:100%;
	border:none;
	outline: none;
	float:right;
	background: transparent;
	color:#fff;
	font-size:0.4rem;
}
.landing-key
{
	border:0.01rem solid #fff;
	border-radius:0.1rem;	
}

.landing-text a
{
	display:block;
	font-size:0.4rem;
	color:#fff;
}
.landing-text>a:nth-child(1)
{
	float:left;
}
.landing-text>a:nth-child(2)
{
	float:right;
}
.landing-active a
{
	width:100%;
	height:100%;
	display:block;
}
.landing-active input
{
	width:100%;
	height:100%;
	background:#1dd9fb;
	color:#fff;
	border: none;
	outline: none;
	font-size:0.45rem;
}
.landing-other
{
	font-size:0.32rem;
	color:#fff;
	text-align:center;
}
.other-logo
{
	margin-top:-0.25rem;
}
.logo-container
{
	width:60%;
	height:100%;
	margin:0 auto;
}
.logo-container a
{
	float:left;
	width:0.68rem;
	height:0.68rem;
	border-radius:50%;
	border:1px solid #fff;
	margin:0.11rem 0.16rem;
	position: relative;
}
.logo-container a i
{
	color:#fff;
	line-height:0.68rem;
	text-align:center;
	position: absolute;
	left: 50%;
	margin-left: -.16rem;
}
.footer-img
{
	position:absolute;
	bottom:0rem;
	left: 0;
	width: 100%;
	
	z-index:-1;
}
.footer-img img
{
	width:100%;
	display: block;
}
::-webkit-input-placeholder { /* WebKit browsers */  
    color:#fff;  
}  
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
   color:#fff;  
   opacity:1;  
}  
::-moz-placeholder { /* Mozilla Firefox 19+ */  
   color:#fff;  
   opacity:1;  
}  
:-ms-input-placeholder { /* Internet Explorer 10+ */  
   color:#fff;  
}  
