@charset 'utf-8';
.tab{
    width: 375px;
    margin: 25px auto;
}
.tabTit li{
    float: left;
    width: 123px;
    height: 38px;
    border: 1px solid #00f;
    text-align: center;
    background: #ccf;
    line-height: 38px;
    list-style: none;
}
.tabTit li:hover{
    background: #aaf;
    cursor: hand;
    cursor: pointer;
}
.tabTit .select{
    background: #99f;
}
.tabCon {
    width: 353px;
    height: 380px;
    padding: 10px;
    border: 1px solid #00f;
    border-top: none;
    line-height: 28px;
    text-indent: 2em;
}
.tabCon > div{
    height: 380px;
    display: none;
}
.tabCon .show{
    display: block;
}